body {
  background-color: #ffe6cc;
}
h2 {
   text-align: center;
}
h3 {
   text-align: center;
}
 p {
    text-align: center;
 }
 h2 {
  font-size: 125px;
}
h3 {
  font-size: 125px;
}
p {
  font-size: 50px;
}
.center {
  margin: auto;
  width: 100%;
  border: 10px solid #000000;
  padding: 10px;
  border-style: double;
}
  /*p.one {
    width: 300px;
    border-style: double;
    border-color: black;
    padding: 10px;
  }*/
  .right {
    float: right;
    width: 300px;
    border: 3px solid #black;
    padding: 10px;
  }
  .left {
    float: left;
    width: 300px;
    border: 3px solid #black;
    padding: 10px;
  }
  .Merienda {
  font-family: 'Merienda', cursive;
}
.Anton {
font-family: 'Anton', sans-serif;
}
.Abril {
font-family: 'Abril Fatface', cursive;
}
img {
  border: 5px solid #black;
}
