body {
  background-color: bisque;
}
p {
  align-content: center;
}
h2 {
  align-content: center;
}
h3 {
  align-content: center;
}
div.a {
  width: 500px;
  height: 400px;
  align-content: right;
}
div.b {
  width: 500px;
  height: 400px;
  align-content: left;
}
